<h1>Добро пожаловать в систему управления обучением student-crm</h1>


<p> <%= link_to 'Новый пользователь', new_user_path %></p>
<p><%= link_to 'Список пользователей', users_path %></p>

<p><%= link_to 'Добавить новый курс', courses_path %></p>