<h1>Добро пожаловать в систему управления обучением student-crm</h1>


<p> <%= link_to 'Новый пользователь', new_user_path %></p>
<p><%= link_to 'Список пользователей', users_path %></p>

<p><%= link_to 'Список курсов', courses_path %></p>
<p><%= link_to 'Список групп', groups_path %></p>