<h3>Календарь занятий группы <%= link_to @group.name, group_path(@group) %></h3>
<h4>Обучение по курсу <%= link_to @group.course.name, course_path(@group.course) %></h4>

<hr/>

<div id="calendar" data-request-url="<%=group_periods_calendar_group_path( @group) %>"> </div>
