<h1>Общий календарь занятий</h1>



<div class="row">
  <div id="calendar" data-request-url="<%= periods_path %>" class="col-md-7"> </div>
  <div class="col-md-5">
    <%=	 render 'form' %>
  </div>
</div>


