<ol class="breadcrumb">
  <li><a href="/courses/">Курсы</a></li>
  <li><%= link_to 'Все занятия', course_path(@course) %></li>
  <li class="active">Редактировать занятие</li>
</ol>

<h3>Редактирование элемента курса <%= @course.name %></h3>

<%= render 'form' %>