<ol class="breadcrumb">
  <li><a href="/groups/">Группы</a></li>
  <li> <%= link_to 'Просмотр группы', group_path(@group) %></li>
  <li class="active">Редактирование группы</li>
</ol>

<h3>Редактирование группы</h3>

<%= render 'form' %>