<!--<ol class="breadcrumb">-->
  <!--<li><a href="/groups/">Группы</a></li>-->
  <!--<li class="active">Создать новую группу</li>-->
<!--</ol>-->

<h3>Добавление новой группы</h3>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <%= render 'form' %>
</div>
