<h1>Группа <%= @group.name %></h1>
<%= link_to 'Редактировать', edit_group_path, class: 'btn btn-info' %>

<h3>Курс: <%= @group.course.name %></h3>
<br/>
<h4>Студенты группы:</h4>
<h5>тут позже должен быть список студентов данной группы</h5>
