<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <!-- <li class="sidebar-brand">
      <a href="#">
        Start Bootstrap
      </a>
    </li> -->

    <li>
      <%= link_to courses_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"> Курсы</span>
      <% end %>
    </li>

    <li>
      <%= link_to groups_path do %>
          <span class="glyphicon glyphicon-list" aria-hidden="true"> Группы</span>
      <% end %>
    </li>

    <li>
      <div role=tablist>
          <div role=tab id=collapseListGroupHeading1>

            <a role=button data-toggle=collapse href=#collapseListGroup1 aria-expanded=false aria-controls=collapseListGroup1><span class="collapsed glyphicon glyphicon-user"> Категории по ролям</span></a>
          </div>
          <div id=collapseListGroup1 class="panel-collapse collapse" role=tabpanel aria-labelledby=collapseListGroupHeading1>
            <ul class=list-group>
              <% Role.all.each do |role| %>
              <li class="list-group-item"><%= link_to role.name, users_role_filter_path(role) %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </li>

    <li>
      <%= link_to users_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"> Пользователи</span>
      <% end %>
    </li>

  </ul>
</div>

<!-- /#sidebar-wrapper -->
