<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">

    <li>
      <%= link_to courses_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <span>&nbsp;Курсы</span>
      <% end  %>
    </li>

    <li>
      <%= link_to new_homework_path do %>
          <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
          <span>&nbsp;Загрузить ДЗ</span>
      <% end  %>
    </li>
    <li>
      <%= link_to homeworks_path do %>
          <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
          <span>&nbsp;Просмотреть ДЗ</span>
      <% end  %>
    </li>

  </ul>
</div>

<!-- /#sidebar-wrapper -->
